@using DnDPersoEntities
@model List<DnDPersoEntities.AllPouvoirByIdPersonnage>


<div class="encart_headerSpelltype pouvoirVol">Pouvoirs à volonté</div>
    @foreach (AllPouvoirByIdPersonnage pouvoir in @Model.Where(a => a.IdTypePouvoir == 1))
    {
        <div id="pourvoir_@pouvoir.PouvoirId">
            <input type="button" onclick="deletePouvoir(@pouvoir.Id)" style="padding-top: 4px;" value="-"/>
            @Html.Raw(pouvoir.Html)
        </div>
    }

<div class="encart_headerSpelltype pouvoirRenc">Pouvoirs de rencontre</div>
    @foreach (AllPouvoirByIdPersonnage pouvoir in @Model.Where(a => a.IdTypePouvoir == 2))
    {
        <div id="pourvoir_@pouvoir.PouvoirId">
            <input type="button" onclick="deletePouvoir(@pouvoir.Id)" style="padding-top: 4px;" value="-"/>
            @Html.Raw(pouvoir.Html)
        </div>
    }

<div class="encart_headerSpelltype pouvoirQuot">Pouvoirs journalier</div>
    
    @foreach (AllPouvoirByIdPersonnage pouvoir in @Model.Where(a => a.IdTypePouvoir == 3))
    {
        <div id="pourvoir_@pouvoir.PouvoirId">
            <input type="button" onclick="deletePouvoir(@pouvoir.Id)" style="padding-top: 4px;" value="-" />
            @Html.Raw(pouvoir.Html)
        </div>
    }
