@using System.Web.Mvc.Html
@using DnDPersoEntities
@model List<DnDPersoEntities.AllStuffByPersonnage>

@foreach (AllStuffByPersonnage stuff in @Model)
{
    <div>
        <div class="" style="display: inline">
            @Html.Label(stuff.TypeEquipement, stuff.TypeEquipement)
            <div class="encoartCompetenceInputBloc">
               
                
                @Html.TextBox("quant" + stuff.Id, stuff.Quantite, new { @class = "text_center ", @style = "width: 50px;height: 20px" })
                @Html.Label("modifDiversCompe" + stuff.CategorieEquipement, stuff.CategorieEquipement, new { @class = "text_center ", @style = "width: 50px;height: 20px" })
                @Html.Label("rarete" , stuff.Rarete, new { @class = "text_center ", @style = "width: 50px;height: 20px" })
                @Html.Hidden("hiddenId" + stuff.Id, stuff.Id.ToString())
            </div>
        </div>
    </div>
}