@using System.Collections
@model DnDPersoEntities.CharacterData

@Scripts.Render("~/bundles/Scripts/Views/Home")

@{
    ViewBag.Title = "Home Page";
}

<div id="header">
    <img id="logo_header" src="~/Images/logo_header.png" alt=""/>
    <div id="account">
        <span id="account_name">pygma</span><br/>
        <a id="logout" onclick="LogOut()">Déconnexion</a>
    </div>
    <div>
        <input type="button" style="float: right;" class="btn btn-danger" onclick="SaveCharacterSheet()" value="Enregistrer"/>
    </div>
</div>
@Html.HiddenFor(model => model.Id, new { @class = "", id = "input_characterId" })
<div id="mainBloc_1" class="mainBloc">
    <div class="header_bloc_title">infos</div>
    <div class="inner_bloc_container">
        <div class="form-group">

            <div class="form-group">
                <div class="input_bloc col-sm-2">
                    @Html.TextBoxFor(model => model.Nom, "", new {@class = "form-control ", id = "input_characterName"})
                    <span class="input_libelle">Nom du personnage</span>
                </div>
                <div class="input_bloc col-sm-2">
                    @Html.TextBoxFor(model => model.Niveau, "", new {@class = "form-control ", id = "input_characterLevel"})
                    <span class="input_libelle">Niveau</span>
                </div>
                <div class="input_bloc col-sm-2">
                    @Html.DropDownListFor(a => a.IdClasse, Model.Classes, new {@class = "form-control "})
                    <span class="input_libelle">Classe</span>
                </div>
                <div class="input_bloc col-sm-2">
                    @Html.TextBoxFor(model => model.Experience, "", new {@class = "form-control ", id = "input_characterExperience"})
                    <span class="input_libelle">Total de px</span>
                </div>

                <div class="input_bloc col-sm-2">
                    @Html.DropDownListFor(a => a.IdRace, Model.Races, new {@class = "form-control"})
                    <span class="input_libelle">Race</span>
                </div>
            </div>
            <div class="form-group">
                <div class="input_bloc col-sm-2">
                    @Html.TextBoxFor(model => model.CategorieTaille, "", new {@class = "form-control", id = "input_characterHeightCategorie"})
                    <span class="input_libelle">Catégorie de taille</span>
                </div>
                <div class="input_bloc col-sm-2">
                    @Html.TextBoxFor(model => model.Age, "", new {@class = "form-control ", id = "input_characterAge"})
                    <span class="input_libelle">Âge</span>
                </div>
                <div class="input_bloc col-sm-2">
                    @Html.TextBoxFor(model => model.Sexe, "", new {@class = "form-control ", id = "input_characterSexe"})
                    <span class="input_libelle">Sexe</span>
                </div>
                <div class="input_bloc col-sm-2">
                    @Html.TextBoxFor(model => model.Taille, "", new {@class = "form-control ", id = "input_characterHeight"})
                    <span class="input_libelle">Taille</span>
                </div>
                <div class="input_bloc col-sm-2">
                    @Html.TextBoxFor(model => model.Poids, "", new {@class = "form-control", id = "input_characterWeight"})
                    <span class="input_libelle">Poids</span>
                </div>
            </div>
            <div class="form-group">
                <div class="input_bloc col-sm-2">
                    @Html.TextBoxFor(model => model.GroupeAventurier, "", new {@class = "form-control ", id = "input_characterGroup"})
                    <span class="input_libelle">Groupe d'aventuriers</span>
                </div>
                <div class="input_bloc col-sm-2">
                    @Html.DropDownListFor(a => a.IdAlignement, Model.Alignements, new {@class = "form-control "})
                    <span class="input_libelle">Alignement</span>
                </div>
                <div class="input_bloc col-sm-2">
                    @Html.DropDownListFor(a => a.IdDivinite, Model.Divinites, new {@class = "form-control "})
                    <span class="input_libelle">Divinité</span>
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Personnalite, new {@class = "form-control ", id = "input_characterPersonnalite"})
                    <span class="input_libelle">Personnalité</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button style="padding: 0 !important;" onclick="setAvatar()"><img style="width: 155px;height: 155px;" id="chara" src="@Model.CheminPortrait" alt="" /></button>
        @using (Html.BeginForm("UploadPortrait", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" id="imgupload" style="display: none;" name="FileUpload" />
            <input type="submit" name="Submit" id="Submit" style="float: right; margin-top: 5px;" value="Upload" />
        }
    </div>
</div>

<ul class="nav nav-tabs" id="mainNav">
    <li id="tabCombat" onclick="setCombat()" role="combat" class="active"><a>Combat</a></li>
    <li id="tabAutres" onclick="setAutres()" role="autres"><a>Autres</a></li>
    <li id="tabNote" onclick="setNote()" role="note"><a>Note</a></li>
</ul>

<div id="bloc_combat">
    <div class="colonne1">
        <div id="mainBloc_3" class="mainBloc marginerRight5">
            <div class="header_bloc_title">caractéristiques</div>
            <div class="inner_bloc_container">
                <div class="span_libelle">FOR</div>
                <div class="input_bloc width50">
                    @Html.TextBoxFor(model => model.CaracteristiqueForce, "", new { @class = "text_center", id = "input_ForceValue" })
                    <span class="input_libelle">Valeur</span>
                </div>
                <div class="input_bloc width50">
                    <input type="text" id="input_ForceMod" class="text_center" disabled="disabled" />
                    <span class="input_libelle">Mod</span>
                </div>
                <div class="span_libelle">CON</div>
                <div class="input_bloc width50">
                    @Html.TextBoxFor(model => model.CaracteristiqueConstitution, "", new { @class = "text_center", id = "input_ConsValue" })
                    <span class="input_libelle">Valeur</span>
                </div>
                <div class="input_bloc width50">
                    <input type="text" id="input_ConsMod" class="text_center" disabled="disabled" />
                    <span class="input_libelle">Mod</span>
                </div>
                <div class="span_libelle">DEX</div>
                <div class="input_bloc width50">
                    @Html.TextBoxFor(model => model.CaracteristiqueDexterite, "", new { @class = "text_center", id = "input_DexValue" })
                    <span class="input_libelle">Valeur</span>
                </div>
                <div class="input_bloc width50">
                    <input type="text" id="input_DexMod" class="text_center" disabled="disabled" />
                    <span class="input_libelle">Mod</span>
                </div>
                <div class="span_libelle">INT</div>
                <div class="input_bloc width50">
                    @Html.TextBoxFor(model => model.CaracteristiqueIntelligence, "", new { @class = "text_center", id = "input_IntValue" })
                    <span class="input_libelle">Valeur</span>
                </div>
                <div class="input_bloc width50">
                    <input type="text" id="input_IntMod" class="text_center" disabled="disabled" />
                    <span class="input_libelle">Mod</span>
                </div>
                <div class="span_libelle">SAG</div>
                <div class="input_bloc width50">
                    @Html.TextBoxFor(model => model.CaracteristiqueSagesse, "", new { @class = "text_center", id = "input_SagValue" })
                    <span class="input_libelle">Valeur</span>
                </div>
                <div class="input_bloc width50">
                    <input type="text" id="input_SagMod" class="text_center" disabled="disabled" />
                    <span class="input_libelle">Mod</span>
                </div>
                <div class="span_libelle">CHA</div>
                <div class="input_bloc width50">
                    @Html.TextBoxFor(model => model.CaracteristiqueCharisme, "", new { @class = "text_center", id = "input_ChaValue" })
                    <span class="input_libelle">Valeur</span>
                </div>
                <div class="input_bloc width50">
                    <input type="text" id="input_ChaMod" class="text_center" disabled="disabled" />
                    <span class="input_libelle">Mod</span>
                </div>
            </div>
        </div>
        <div id="mainBloc_6" class="mainBloc marginerRight5">
            <div class="header_bloc_title">bataille</div>
            <div class="inner_bloc_container">
                <div class="input_bloc width100pc">
                    @Html.DropDownList("SelectedArme",new SelectList((IEnumerable)ViewData["tempEquipList"], "TypeEquipement", "TypeEquipement"))
                    <span class="input_libelle">Arme équipée</span>
                </div>
                <div class="span_libelle span_fixe_top span_large">Atq</div>
                <div class="input_bloc width32">
                    @Html.TextBox("TotalAttaque", null, new { @class = "text_center", id = "TotalAttaque" })
                    <span class="input_libelle">Total</span>
                </div>
                <div class="input_bloc width32">
                    @Html.TextBoxFor(model => model.ModCaracAttaque, "", new { @class = "text_center", id = "ModCaracAttaque" })
                    <span class="input_libelle">Carac</span>
                </div>
                <div class="input_bloc width32">
                    @Html.TextBoxFor(model=>model.ModClasseAttaque,"", new { @class = "text_center", id = "ModClasseAttaque" })
                    <span class="input_libelle">Classe</span>
                </div>
                <div class="input_bloc width32">
                    @Html.TextBoxFor(model => model.ModManiAttaque, "", new { @class = "text_center", id = "ModManiAttaque" })
                    <span class="input_libelle">Mani</span>
                </div>
                <div class="input_bloc width32">
                    @Html.TextBoxFor(model => model.ModTalentAttaque, "", new {@class = "text_center", id = "ModTalentAttaque"})
                    <span class="input_libelle">Talent</span>
                </div>
                <div class="input_bloc width32">
                    @Html.TextBox("ModDiversAttaque", null, new { @class = "text_center", id = "ModDiversAttaque" })
                    <span class="input_libelle">Divers</span>
                </div>
                
                
                <div class="span_libelle span_fixe_top span_large">Dgt</div>
                <div style="margin-left: 15px;">
                    <div class="input_bloc width35">
                        @Html.TextBox("TotalDegat", null, new {@class = "text_center", id = "TotalDegat"})
                        <span class="input_libelle">Total</span>
                    </div>
                    <div class="input_bloc width35">
                        @Html.TextBox("DegatArme", null, new { @class = "text_center", id = "ModArmeDegat" })
                        <span class="input_libelle">Arme</span>
                    </div>
                    <div class="input_bloc width35">
                        @Html.TextBoxFor(model => model.ModCaracDegat, "", new { @class = "text_center", id = "ModCaracDegat" })
                        <span class="input_libelle">Carac</span>
                    </div>
                    <div class="input_bloc width35">
                        @Html.TextBoxFor(model => model.ModTalentDegat, "", new { @class = "text_center", id = "ModTalentDegat" })
                        <span class="input_libelle">Talent</span>
                    </div>
                    <div class="input_bloc width35">
                        @Html.TextBox("ModDiversDegat",null, new { @class = "text_center", id = "ModDiversDegat" })
                        <span class="input_libelle">Divers</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="mainBloc_2" class="mainBloc marginerRight5">
        <div class="header_bloc_title">défenses</div>
        <div class="inner_bloc_container">
            <!--CA-->
            <div class="span_libelle">CA</div>
            <div class="input_bloc width35">
                <input type="text" id="input_CATotal" class="text_center" />
                <span class="input_libelle">Total</span>
            </div>
            <div class="input_bloc width35">
                @Html.TextBoxFor(model => model.DefenseCADemiNiveau, "", new { @class = "text_center", id = "input_CADemiNiveau" })
                <span class="input_libelle">1/2</span>
            </div>
            <div class="input_bloc width35">
                @Html.TextBoxFor(model => model.DefenseCACaracteristique, "", new { @class = "text_center", id = "input_CACarac" })
                <span class="input_libelle">Armure</span>
            </div>
            <div class="input_bloc width35">
                @Html.TextBoxFor(model => model.DefenseCAClasse, "", new { @class = "text_center", id = "input_CAClasse" })
                <span class="input_libelle">Classe</span>
            </div>
            <div class="input_bloc width35">
                @Html.TextBoxFor(model => model.DefenseCATalent, "", new { @class = "text_center", id = "input_CATalent" })
                <span class="input_libelle">Talent</span>
            </div>
            <div class="input_bloc width35">
                @Html.TextBoxFor(model => model.DefenseCADivers, "", new { @class = "text_center", id = "input_CADivers" })
                <span class="input_libelle">Divers</span>
            </div>
            <!--VIG-->
            <div class="span_libelle">VIG</div>
            <div class="input_bloc width35">
                <input type="text" id="input_VIGTotal" class="text_center" />
                <span class="input_libelle">Total</span>
            </div>
            <div class="input_bloc width35">
                @Html.TextBoxFor(model => model.DefenseVIGDemiNiveau, "", new { @class = "text_center", id = "input_VIGDemiNiveau" })
                <span class="input_libelle">1/2</span>
            </div>
            <div class="input_bloc width35">
                @Html.TextBoxFor(model => model.DefenseVIGCaracteristique, "", new { @class = "text_center", id = "input_VIGCarac" })
                <span class="input_libelle">Carac</span>
            </div>
            <div class="input_bloc width35">
                @Html.TextBoxFor(model => model.DefenseVIGClasse, "", new { @class = "text_center", id = "input_VIGClasse" })
                <span class="input_libelle">Classe</span>
            </div>
            <div class="input_bloc width35">
                @Html.TextBoxFor(model => model.DefenseVIGTalent, "", new { @class = "text_center", id = "input_VIGTalent" })
                <span class="input_libelle">Talent</span>
            </div>
            <div class="input_bloc width35">
                @Html.TextBoxFor(model => model.DefenseVIGDivers, "", new { @class = "text_center", id = "input_VIGDivers" })
                <span class="input_libelle">Divers</span>
            </div>
            <!--REF-->
            <div class="span_libelle">REF</div>
            <div class="input_bloc width35">
                <input type="text" id="input_REFTotal" class="text_center" />
                <span class="input_libelle">Total</span>
            </div>
            <div class="input_bloc width35">
                @Html.TextBoxFor(model => model.DefenseREFDemiNiveau, "", new { @class = "text_center", id = "input_REFDemiNiveau" })
                <span class="input_libelle">1/2</span>
            </div>
            <div class="input_bloc width35">
                @Html.TextBoxFor(model => model.DefenseREFCaracteristique, "", new { @class = "text_center", id = "input_REFCarac" })
                <span class="input_libelle">Carac</span>
            </div>
            <div class="input_bloc width35">
                @Html.TextBoxFor(model => model.DefenseREFClasse, "", new { @class = "text_center", id = "input_REFClasse" })
                <span class="input_libelle">Classe</span>
            </div>
            <div class="input_bloc width35">
                @Html.TextBoxFor(model => model.DefenseREFTalent, "", new { @class = "text_center", id = "input_REFTalent" })
                <span class="input_libelle">Talent</span>
            </div>
            <div class="input_bloc width35">
                @Html.TextBoxFor(model => model.DefenseREFDivers, "", new { @class = "text_center", id = "input_REFDivers" })
                <span class="input_libelle">Divers</span>
            </div>
            <!--VOL-->
            <div class="span_libelle">VOL</div>
            <div class="input_bloc width35">
                <input type="text" id="input_VOLTotal" class="text_center" />
                <span class="input_libelle">Total</span>
            </div>
            <div class="input_bloc width35">
                @Html.TextBoxFor(model => model.DefenseVOLDemiNiveau, "", new { @class = "text_center", id = "input_VOLDemiNiveau" })
                <span class="input_libelle">1/2</span>
            </div>
            <div class="input_bloc width35">
                @Html.TextBoxFor(model => model.DefenseVOLCaracteristique, "", new { @class = "text_center", id = "input_VOLCarac" })
                <span class="input_libelle">Carac</span>
            </div>
            <div class="input_bloc width35">
                @Html.TextBoxFor(model => model.DefenseVOLClasse, "", new { @class = "text_center", id = "input_VOLClasse" })
                <span class="input_libelle">Classe</span>
            </div>
            <div class="input_bloc width35">
                @Html.TextBoxFor(model => model.DefenseVOLTalent, "", new { @class = "text_center", id = "input_VOLTalent" })
                <span class="input_libelle">Talent</span>
            </div>
            <div class="input_bloc width35">
                @Html.TextBoxFor(model => model.DefenseVOLDivers, "", new { @class = "text_center", id = "input_VOLDivers" })
                <span class="input_libelle">Divers</span>
            </div>
        </div>
    </div>
    <div id="mainBloc_4" class="mainBloc marginerRight5">
        <div class="header_bloc_title">points de vie</div>
        <div class="inner_bloc_container">
            <div class="span_libelle">PV Max</div>
            <div class="input_bloc width35">
                @Html.TextBoxFor(model => model.PVMax, "", new { @class = "text_center", id = "input_PVMax" })
            </div>
            <div class="span_libelle">Actuel</div>
            <div class="input_bloc width35">
                @Html.TextBoxFor(model=>model.PVActuel,"", new { @class = "text_center", id = "input_PVActuel" })
            </div>
            <div class="span_libelle">Récup</div>
            <div class="input_bloc width35">
                @Html.TextBox("Recup",null, new { @class = "text_center", id = "input_PVRecup" })
            </div>
            <div class="span_libelle">Souffle</div>
            <div class="input_bloc width35">
                @Html.TextBox("SecondSouffle",null, new { @class = "text_center", id = "input_PVSecond" })
            </div>
        </div>
    </div>
    <div id="mainBloc_4" class="mainBloc">
        <div class="header_bloc_title">actions</div>
        <div class="inner_bloc_container">
            <div class="span_libelle span_large">Init</div>
            <div style="margin-left: 18px;">
                <div class="input_bloc width35">
                    <input type="text" id="input_INITTotal" class="text_center" />
                    <span class="input_libelle">Total</span>
                </div>
                <div class="input_bloc width35">
                    @Html.TextBoxFor(model => model.InitiativeDemiNiveau, "", new { @class = "text_center", id = "input_INITDeminiveau" })
                    <span class="input_libelle">demi</span>
                </div>
                <div class="input_bloc width35">
                    @Html.TextBoxFor(model => model.InitiativeDivers, "", new { @class = "text_center", id = "input_INITDivers" })
                    <span class="input_libelle">divers</span>
                </div>
            </div>
            <div class="span_libelle span_large">PA</div>
            <div style="margin-left: 63px;">
                <div class="input_bloc width35">
                    @Html.TextBoxFor(model => model.PointAction, "", new { @class = "text_center", id = "input_PAValue" })
                </div>
            </div>
        </div>
    </div>
    <div id="mainBloc_5" class="mainBloc marginerRight5">
        <div id="encartPouvoirs">
            <div class="header_bloc_title">
                Pouvoirs
                <input type="button" style="margin-right: 20px; margin-top: -2px; padding-top: 3px; padding-left: 7px;" onclick="OpenPopUpPouvoir(@Model.IdClasse, @Model.Niveau)" value="+" />
            </div>

            <div class="inner_bloc_container">
                @Html.Action("EncartPouvoirsPartialView", @Model.Id)
            </div>
        </div>
    </div>
    <div id="mainBloc_7" class="mainBloc">
        <div id="encartAptitudes">
            <div class="header_bloc_title">
                Aptitudes
            </div>

            <div class="inner_bloc_container">
                @Html.Action("EncartAptitudesPartialView", new {idClasse = Model.IdClasse, idRace = Model.IdRace})
            </div>
        </div>
    </div>
</div>

<div id="bloc_autres" class="cache">
    <div id="encartCompetences" class="mainBloc marginerRight5">
        <div class="header_bloc_title">
            Compétences
        </div>
        <div class="inner_bloc_container">
            @Html.Action("EncartCompetencesPartialView", @Model.Id)
        </div>
    </div>
    <div id="encartArgent" class="mainBloc">
        <div class="header_bloc_title">
            Argent
        </div>
        <div id="innerEncartArgent" class="inner_bloc_container">
            @Html.Action("EncartArgentPartialView", @Model.Id)
        </div>
    </div>
    <div id="encartTalents" class="mainBloc marginerRight5">
        <div class="header_bloc_title">
            Talents
            <input type="button" style="margin-right: 20px; margin-top: -2px; padding-top: 3px; padding-left: 7px;" onclick="OpenPopUpTalent()" value="+" />
        </div>
        <div class="inner_bloc_container">
            @Html.Action("EncartTalentsPartialView", @Model.Id)
        </div>
    </div>

    <div id="encartEquipement" class="mainBloc">
        <div class="header_bloc_title">
            Equipement
        </div>
        <div id="innerEncartEquipement" class="inner_bloc_container">
            @Html.Action("EncartEquipementPartialView", @Model.Id)
        </div>
    </div>
</div>

<div id="bloc_note" class="cache">
    <textarea id="noteArea"></textarea>
</div>