@using DnDPersoEntities
@model List<DnDPersoEntities.PersonnageByUtilisateur>

@Scripts.Render("~/bundles/Scripts/Views/SelectionPersonnage")
@{
    ViewBag.Title = "Choix personnage";
}

<div id="SelectCharacterBloc">
    <!--<div id="TitleSelectCharacterBloc">Choix du personnage</div>-->
    <div class="CharacterAddBloc" onclick="LoadPersonnage(0)">
        <img src="~/Images/icon_plus.png" alt="icon_character" />
        <div class="displayerCharacterBloc">
            <span>Nouveau personnage</span>
        </div>
    </div>
    @foreach (PersonnageByUtilisateur personnageByUtilisateur in Model)
    {
            <div class="CharacterSheetBloc" onclick="LoadPersonnage(@personnageByUtilisateur.Id)">
                <img src="~/Images/icon_character.png" alt="icon_character" />
                <div class="displayerCharacterBloc">
                    <span>Nom: </span>@personnageByUtilisateur.Nom<br/>
                    <span>Classe: </span>@personnageByUtilisateur.Classe<br/>
                    <span>Race: </span>@personnageByUtilisateur.Race<br/>
                    <span>Niveau: </span>@personnageByUtilisateur.Niveau
                </div>
                <input type="button" onclick="deletePerso(@personnageByUtilisateur.Id)" style="padding-top: 4px;" value="-" />
            </div>
    }
</div>